<%- include('./include/header.ejs'); -%>
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card">
                        <div class="p-4">
                            <h5 class="m-0">Kullanıcılar</h5>
                        </div>
                        <div class="w-100 p-4 py-2 row m-0">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 m-0 p-0">
                                <div class="pagination">
                                    <li class="page-item d-flex justify-content-around align-items-center">
                                        <div style="font-size: 12px; margin-right: 4px;">Sayfada</div>
                                        <select class="page-link limit-select p-2" style="cursor: pointer; font-size: 12px; margin-right: 4px;">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                        </select>
                                        <div style="font-size: 12px; margin-right: 4px;">kayıt göster</div>
                                    </li>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 m-0 p-0 d-flex justify-content-end align-items-center">
                                <a class="mx-1 filter-clean" href="http://localhost:3000/api/kurumsal/users">
                                    <ul class="list-unstyled avatar-group text-dark m-0">
                                        <li 
                                        data-bs-toggle="tooltip" 
                                        data-popup="tooltip-custom" 
                                        data-bs-placement="top" 
                                        class="avatar avatar-xs text-center border rounded"
                                        title="Filtreyi temizle">
                                            <span class="tf-icons bx bx-eraser"></span>
                                        </li>
                                    </ul> 
                                </a> 
                                <div class="input-group w-50 mx-1">
                                    <input type="text" class="form-control avatar avatar-xs" placeholder="Ara">
                                    <button class="input-group-text search-button avatar avatar-xs d-flex justify-content-center">
                                        <span class="tf-icons bx bx-search"></span>
                                    </button>
                                </div>
                                <a class="mx-1 create-user" href="http://localhost:3000/api/kurumsal/users/createUser">
                                    <ul class="list-unstyled m-0 avatar-group text-primary">
                                        <li 
                                        data-bs-toggle="tooltip"
                                        data-popup="tooltip-custom"
                                        data-bs-placement="top"
                                        class="avatar avatar-xs text-center border rounded"
                                        title="Kullanıcı ekle">
                                            <span class="tf-icons bx bx-plus"></span>
                                        </li>
                                    </ul> 
                                </a>
                                <ul class="list-unstyled page-refresh m-0 avatar-group text-danger mx-1">
                                    <li data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs text-center border rounded"
                                    title="Sayfayı yenile">
                                        <span class="tf-icons bx bx-refresh"></span>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                        <div class="table-responsive text-nowrap">
                            <table class="table border-bottom border-top">
                                <thead>
                                    <tr>
                                    <th style="font-size: 10px;">Adı</th>
                                    <th style="font-size: 10px;">Soyadı</th>
                                    <th style="font-size: 10px;">Email</th>
                                    <th style="font-size: 10px;">Kullanıcı adı</th>
                                    <th style="font-size: 10px;">Durumu</th>
                                    <th style="font-size: 10px;">Yetki</th>
                                    <th style="font-size: 10px;">Detaylar</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    <% users.forEach((user) => { %> 
                                        <tr>
                                            <td class="d-flex justify-content-start align-items-center" style="font-size: 12px;">
                                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center" style="margin-right: 5px !important;">
                                                    <li data-bs-toggle="tooltip"
                                                    data-popup="tooltip-custom"
                                                    data-bs-placement="top"
                                                    class="avatar avatar-xs pull-up"
                                                    title="<%=user.role%>">
                                                        <% if(!user.image) { %> 
                                                            <img src="/adminpanel/assets/img/icons/unicons/userDefault.png" alt="Avatar" class="rounded-circle" />
                                                        <% } else { %>
                                                            <a data-fancybox href="<%=user.image%>">
                                                                <img src="<%=user.image%>" alt="Avatar" class="rounded-circle" />
                                                            </a>
                                                        <% } %>
                                                    </li>
                                                </ul> 
                                                <% if(user.username === authenticateUser.username) { %> 
                                                    <ul class="list-unstyled m-0 avatar-group d-flex justify-content-center align-items-center text-success" 
                                                        style="margin-right: 5px !important;">
                                                        <li data-bs-toggle="tooltip"
                                                        data-popup="tooltip-custom"
                                                        data-bs-placement="top"
                                                        class="avatar avatar-xs d-flex justify-content-center align-items-center"
                                                        title="Ben">
                                                            <span class="tf-icons bx bx-user-check"></span>
                                                        </li>
                                                    </ul> 
                                                <% } %> 
                                                <b style="margin-right: 5px;"><%=user.name%></b>
                                            </td>
                                            
                                            <td style="font-size: 12px;"><%=user.surname%></td>
                                            
                                            <td style="font-size: 12px;"><%=user.email%></td>

                                            <td style="font-size: 12px;"><%=user.username%></td>

                                            <td style="font-size: 12px;">
                                                <% if(!user.status) { %> 
                                                    <a class="delete-user btn btn-danger btn-xs" 
                                                    data-bs-toggle="tooltip" 
                                                    data-popup="tooltip-custom" 
                                                    data-bs-placement="top"
                                                    title="Aktif yap"
                                                    href="http://localhost:3000/api/kurumsal/users/<%=user._id%>">
                                                        Pasif
                                                    </a>
                                                <% } else { %>
                                                    <a class="delete-user btn btn-primary btn-xs" 
                                                    data-bs-toggle="tooltip" 
                                                    data-popup="tooltip-custom" 
                                                    data-bs-placement="top"
                                                    title="Pasif yap"
                                                    href="http://localhost:3000/api/kurumsal/users/<%=user._id%>">
                                                        Aktif
                                                    </a>
                                                <% } %>
                                            </td>

                                            <td style="font-size: 12px;">
                                                <% if(user.role === 'admin') { %> 
                                                    <span class="badge bg-label-danger me-1">sistem yoneticisi</span>
                                                <% } else if(user.role === 'companyOfficial') { %>
                                                    <span class="badge bg-label-primary me-1">sirket yetkilisi</span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <div style="font-size: 12px;" class="dropdown">
                                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="http://localhost:3000/api/kurumsal/users/<%=user._id%>"
                                                            >Güncelle</a
                                                        >
                                                        <a class="dropdown-item deleteFromSystem" href="http://localhost:3000/api/kurumsal/users/deleteUser/<%=user._id%>"
                                                            >Sistemden sil</a
                                                        >
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <div class="row p-4 py-2 m-0 w-100">
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 m-0 p-0 d-flex justify-content-start align-items-center">
                                <div style="font-size: 12px;">
                                    Toplamda <span class="text-primary"><%=totalCount%></span> Kayıttan <span class="text-primary"><%=currentDataCount%></span> tanesi gösteriliyor
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6 col-xl-6 m-0 p-0 d-flex justify-content-end align-items-center">
                                <ul class="pagination m-0">
                                    <input type="hidden" class="max-page" value="<%= pages; %>">
                                    <li class="page-item" style="cursor: pointer; font-size: 12px;"><span class="page-link page-prev m-0">Önceki</span></li>
                                    <% for (var a=1; a<=pages; a++){ %>
                                    <li class="page-item page-numbers d-none" style="cursor: pointer; font-size: 12px;"><span class="page-link"><%= a; %></span></li>
                                    <% } %>
                                    <li class="page-item" style="cursor: pointer; font-size: 12px;"><span class="page-link page-next">Sonraki</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- / Content -->
<%- include('./include/footer.ejs'); -%>
<script>
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf('?') !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, '$1' + key + "=" + value + '$2');
        }
        else {
            return uri + separator + key + "=" + value;
        }
    }

    $(document).ready(() => {
        let searchParams = new URLSearchParams(window.location.search);
        let page = searchParams.get('page');
        for (const iterator of $('.pagination .page-numbers span')) {
            if (page === null) {
                $(iterator).parent().addClass('active');
                $('.pagination .page-numbers.active').removeClass('d-none');
                $('.pagination .page-numbers.active').prev('.page-numbers').removeClass('d-none').prev('.page-numbers').removeClass('d-none');
                $('.pagination .page-numbers.active').next('.page-numbers').removeClass('d-none').next('.page-numbers').removeClass('d-none').next('.page-numbers').removeClass('d-none');
                return;
            }
            if ($(iterator).text() === page) {
                $(iterator).parent().addClass('active');
            };
        };
        $('.pagination .page-numbers.active').removeClass('d-none');
        $('.pagination .page-numbers.active').prev('.page-numbers').removeClass('d-none').prev('.page-numbers').removeClass('d-none');
        $('.pagination .page-numbers.active').next('.page-numbers').removeClass('d-none').next('.page-numbers').removeClass('d-none').next('.page-numbers').removeClass('d-none');
        for (const iterator of $('.limit-select option')) {
            if ($(iterator).val() == localStorage.getItem('limit')) {
                $(iterator).attr('selected','selected');
            }
        }
    });

    $('.limit-select').on('change',function(e) {
        localStorage.setItem('limit',this.value);
        let limit = updateQueryStringParameter(window.location.href,'limit',this.value);
        window.location.href = updateQueryStringParameter(limit,'page',1);
    });

    $('.search-button').on('click',function(e) {
        const queryString = $(this).parent().find('input').val();
        localStorage.setItem('search',queryString);
        let search = updateQueryStringParameter(window.location.href,'search',queryString);
        window.location.href = updateQueryStringParameter(search,'search',queryString);
    });

    $('.pagination .page-numbers').on('click',(e) => {
        window.location.href = updateQueryStringParameter(window.location.href,'page',$(e.currentTarget).text());
    });

    $('.page-prev').on('click',(e) => {
        let searchParams = new URLSearchParams(window.location.search);
        let page = searchParams.get('page');
        page = Number(page) - 1;
        console.log(page)
        if (!page == 0) {
            console.log(page)
            window.location.href = updateQueryStringParameter(window.location.href,'page',page);
        }
    })

    $('.page-next').on('click',(e) => {
        let searchParams = new URLSearchParams(window.location.search);
        let page = searchParams.get('page');
        page = Number(page) + 1;
        console.log(page);
        if (page <= $('.max-page').val()) {
            window.location.href = updateQueryStringParameter(window.location.href,'page',page);
        }
    });

    $(".delete-user").on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url : this.href,
            type : "DELETE",
            success : (response) => {
                Swal.fire({
                    icon: "success",
                    text: response.msg
                });
            },
            error : (xhr, status, error) => {
                Swal.fire({
                    icon: "error",
                    text: xhr.responseJSON.msg
                });
            },
        })
        return false;
    });
    $(".deleteFromSystem").on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url : this.href,
            type : "DELETE",
            success : (response) => {
                Swal.fire({
                    icon: "success",
                    text: response.msg
                });
            },
            error : (xhr, status, error) => {
                Swal.fire({
                    icon: "error",
                    text: xhr.responseJSON.msg
                });
            },
        })
        return false;
    });

    $('.page-refresh').on('click',(e) => {
        location.reload();
    });
</script>