<%- include('../include/header.ejs'); -%>
          <!-- Content wrapper -->
    <div class="content-wrapper">
            <!-- Content -->
        <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                    <div class="card mb-4">
                        <h5 class="card-header font12px">Mesaj</h5>
                        <hr class="my-0" />
                        <div class="message-box m-3 border rounded">
                            <div class="header d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="font12px p-2 text-primary"><%= message.senderName %> <%= message.senderSurname %></div>
                                    <div class="font12px p-2 text-primary">
                                        <i class="bx bx-mail-send"></i>
                                    </div>
                                    <div class="font12px p-2 text-primary">
                                        <%= message.senderMail %>
                                    </div>
                                </div>
                                <div class="font12px p-2 text-primary d-flex justify-content-around align-items-center">
                                    <div>
                                        <%=message.createdAt.getDate(); %> 
                                        <%=message.createdAt.toLocaleString('default', {month: 'long'}); %>
                                        <%=message.createdAt.getFullYear(); %> 
                                    </div>
                                    <i class="bx bx-calendar-check"></i>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="content">
                                <div class="p-2 text-dark">
                                    <i class="bx bx-message-dots text-danger"></i>
                                    <%= message.content %>
                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="footer p-2 d-flex justify-content-between align-items-center">
                                <div class="font12px p-2 text-primary d-flex justify-content-between align-items-center">
                                    <i class="bx bx-phone-incoming text-primary"></i>
                                    <%= message.phoneNumber %>
                                </div>
                                <button type="submit" class="btn btn-sm btn-primary font12px" data-toggle="modal" data-target="#sendMessageModal">
                                    <i class="bx bx-conversation"></i>
                                    Yanıtla
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <!-- / Content -->

<!-- send message modal -->
<div class="modal fade" id="sendMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title font12px" id="exampleModalLabel">Yanıt gönder</h5>
        </div>
        <form id="sendMessageForm">
            <input type="hidden" name="email" value="<%= message.senderMail %>" />
            <input type="hidden" name="name" value="<%= message.senderName %>" />
            <div class="modal-body pb-0">
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <input type="text" class="form-control font12px" name="subject" id="basic-default-name" placeholder="Konu" />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <textarea
                      id="basic-default-message"
                      class="form-control font12px"
                      name="message"
                      placeholder="Mesaj"
                    ></textarea>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Kapat <i class="bx bx-x-circle"></i></button>
                <button type="submit" class="btn btn-primary btn-sm">Gönder <i class="bx bx-mail-send"></i></button>
            </div>
        </form>
      </div>
    </div>
</div>
<!-- send message modal -->
<%- include('../include/footer.ejs'); -%>
<script>
    $("#sendMessageForm").on("submit",function(e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url : "http://localhost:3000/api/kurumsal/messages/sendMessage",
            type : "POST",
            data : formData,
            success : (response) => {
                Swal.fire({
                    icon: "success",
                    text: response.msg
                });
            },
            error : (xhr, status, error) => {
                Swal.fire({
                    icon: "error",
                    text: xhr.responseJSON.msg
                });
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });
</script>